@model IEnumerable<ENTIDAD.EmpleadoCE>

@{
    ViewBag.Title = "Empleado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Empleados</h2>

<p>
    <a class="btn btn-primary" href="@Url.Action("Crear","Empleado")"><i class="glyphicon glyphicon-plus"></i> Crear Nuevo</a>
</p>
<table class="table" id="tableEmpleado">
    <thead>
        <tr>
            <th>
                Apellidos Nombres
            </th>
            <th>
                Email
            </th>
            <th>
                Direccion
            </th>
            <th>
                Celular
            </th>
            <th>
                Departamento
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NombreCompleto)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Celular)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NombreDepartamento)
            </td>
            <td class="text-right">
                <a class="btn btn-primary btn-xs" title="Editar" href="@Url.Action("Editar","Empleado",new {id=item.EmpleadoID})">
                    <i class="glyphicon glyphicon-edit"></i>
                </a>
                <a class="btn btn-info btn-xs" title="Detalle" href="@Url.Action("GetEmpleado","Empleado",new {id=item.EmpleadoID})">
                    <i class="glyphicon glyphicon-search"></i>
                </a>
                <a class="btn btn-danger btn-xs" title="Eliminar" onclick="EliminarEmpleado(@item.EmpleadoID, '@item.Apellidos @item.Nombres')">
                    <i class="glyphicon glyphicon-trash"></i>
                </a>
            </td>
        </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $('#tableEmpleado').DataTable({
            "pageLength": 5,
            lengthMenu: [5, 10, 15, 20],
            "language": {
                "url": "//cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Spanish.json"
            }
        });
        function EliminarEmpleado(idEmpleado, nombreEmpleado) {
            $.confirm({
                title: 'Eliminar Empleado',
                content: 'Estas seguro que quieres eliminar a ' + nombreEmpleado + '?',
                buttons: {
                    cancel: {
                        btnClass: 'btn btn-primary',
                    },
                    confirm: {
                        btnClass: 'btn btn-danger',
                        action: function () {
                            LoadingOverlayShow("#tableEmpleado");
                            $.ajax({
                                url: "/Empleado/Eliminar",
                                type: "post",
                                data: { id : idEmpleado}
                            }).done(function (response) {
                                console.log(response);
                                LoadingOverlayHide("#tableEmpleado");
                                if (response.ok) {
                                    alert("Empleado eliminado correctamente");
                                    window.location = response.toRedirect;
                                }
                                else {
                                    alert(response.msg);
                                }
                            }).fail(function (jqXHR, textStatus, errorThrown) {
                                LoadingOverlayHide("#tableEmpleado");
                            })
                        },
                    },
                }
            });
        }
    </script>
}
